 <a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Scala 101</font></h1>

# INTRODUCTION TO SCALA

## Table of contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref1">Collections overview </a>
<li><a href="#ref2">Sequences and Sets </a>
<li><a href="#ref3">Options </a>
<li><a href="#ref4">Tuples and Maps</a>
<li><a href="#ref5">Higher Order Functions</a>



<p></p>
Estimated Time Needed: <strong>30 min</strong>
</div>

 <a id="ref1"></a>

## 4.1  Collections overview

The following diagram summarises the Scala collections hierarchy

 <img src = "https://ibm.box.com/shared/static/h0pyz8tpr019ylbov9ichbgu3znj99nk.png" width = 1000, align = "center"></a>

In the rest of this lab we will review many of the nodes in this graph, check out the "COLLECTIONS OVERVIEW" video in Module 4 for more information

 <a id="ref2"></a>

## 4.2  Sequences and Sets

### By the end of this section you should be able to:

<ul>
  <li>Describe the various kinds of sequence collections and their properties  </li>
  <li>Outline the desirable properties of the Vector collection type </li>
  <li>Describe the features of set collections  </li>
</ul>

###  Arrays:

<ul>
Here are some properties of arrays: 
  <li> Arrays are an ordered sequence of data that is fixed in size</li>
  <li>Arrays are fast on the JVM </li>
  <li> Array values are contiguous in memory  </li>
    <li>Arrays are indexed by position   </li>
    <li>Array are <b>mutable</b></li>
</ul>

 You can create an array using the following command:

In [3]:
val FirstArray = Array(1,2,3,4,5)
FirstArray

FirstArray = Array(1, 2, 3, 4, 5)

Array(1, 2, 3, 4, 5)

 Arrays are zero-based as shown in the following figure:

 <img src = "https://ibm.box.com/shared/static/nhsbvny05ss82cxc4ab4slvk0r2xe2oc.png" width = 1000, align = "center"></a>

<h1 align=center><font size = 3>Array with equivalent indexes </font></h1>

You  can access the first value of an array as follows :

In [ ]:
FirstArray(0)

You can access the second value:

In [ ]:
FirstArray(1)

and set the last value

In [ ]:
FirstArray(4) = 5

We can print the array by using the method "foreach" to apply the "println" function.

In [ ]:
FirstArray.foreach(println)

 <a href="#xx">Click here for more information on "foreach" </a>

 Arrays are mutable, as a result you can change them. For example, you can change the 5-th  element to 4 and print the result:

In [4]:
FirstArray(4) = 100000
FirstArray.foreach(println)

1
2
3
4
100000

Once you create an array, you can not change the size, for example, if you try to add a 6-th  element you will get an error, try running the following line of code:

In [5]:
FirstArray(5)

Name: java.lang.ArrayIndexOutOfBoundsException
Message: 5
StackTrace:

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.1: </h1>
<p> 
Create an Array A such that: A[0]:"A",A[1]:1,A[2]:"B",A[3]:2 .</b>
</p>
</div>

 <div align="right">
<a href="#q41" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q41" class="collapse">
<pre>
val A = Array("A",1,"B",2)
<pre>
</div>

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.2: </h1>
<p> 
The second element of the array "A" has a value of 1, convert it to a value of "one" .</b>
</p>
</div>

 <div align="right">
<a href="#q42" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q42" class="collapse">
<pre>
println("Before A(1):", A(1))
A(1) = "one"
println("After  A(1):", A(1))
</pre>
</div>

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.3: </h1>
<p> 
Will the following line of code run A(4)=4, if not why.</b>
</p>
</div>

</div>
<div id="q45" class="collapse">
```

No, even though array are mutable, the length is fixed and index 4 in out of bounds.
```
</div>

 <div align="right">
<a href="#q43" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q43" class="collapse">
<p>
No, even though arrays are mutable, the length is fixed and index 4 is out of bounds.
<p>
</div>

###  Lists:

 <ul>
 Here are some properties of lists: 
  <li>Lists are implemented pairs of head and tail.</li>
  <li>Theoretically limitless in size  </li>
  <li>Look ups are fast when accessing the head of the list. Random access is less performant because the list has to be traversed before an element can be retreived.</li>
</ul>

In [7]:
val FirstList = List(1,2,3,4,5)
FirstList

FirstList = List(1, 2, 3, 4, 5)

List(1, 2, 3, 4, 5)

Lists are zero-based as shown in the following figure:

 <img src = "https://ibm.box.com/shared/static/s6sxybo2vt52371xerjcwsili6x0eupl.png" width = 1000, align = "center"></a>

<h1 align=center><font size = 3>List with equivalent indexes </font></h1>

you can access the first, second or third element as follows:

In [8]:
println("1st element", FirstList(0))
println("second element", FirstList(1))
println("third element ", FirstList(2))

(1st element,1)
(second element,2)
(third element ,3)

Lists are immutable as a result you can't change them

In [10]:
FirstList(0) = "A"

Name: Unknown Error
Message: <console>:28: error: value update is not a member of List[Int]
       FirstList(0) = "A"
       ^

StackTrace:


you can create a new list and add a value to a list by <b>appending</b> with a colon and an addition sign

In [11]:
val SecondList = FirstList :+ 6
SecondList

SecondList = List(1, 2, 3, 4, 5, 6)

List(1, 2, 3, 4, 5, 6)

 you can <b> prepend</b> the item on a list as follows

In [12]:
val ThirdList = 0 +: SecondList
ThirdList

ThirdList = List(0, 1, 2, 3, 4, 5, 6)

List(0, 1, 2, 3, 4, 5, 6)

 As lists are sequences, you can add duplicate values

In [13]:
val LastList = List("A","A",1,1,"B","B",2,2)
LastList

LastList = List(A, A, 1, 1, B, B, 2, 2)

List(A, A, 1, 1, B, B, 2, 2)

 As illustrated by the above cell, as lists are sequences they can have duplicate values. We can remove duplicates  and assign them to other values using the distinct method.

In [14]:
val DistinctList = LastList.distinct
DistinctList

DistinctList = List(A, 1, B, 2)

List(A, 1, B, 2)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.4: </h1>
<p> 
Create the list with "WrongAlphabet" the elements B,C,D </b>
</p>
</div>

 <div align="right">
<a href="#q44" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q44" class="collapse">
<pre>
val WrongAlphabet=List("B","C","D")
WrongAlphabet
</pre>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.5: </h1>
<p> 
Prepend the letter "A" and append the letter "E" and assign it the variable  "Alphabet"</b>
</p>
</div>

 <div align="right">
<a href="#qa45" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="qa45" class="collapse">
<pre>
val Alphabet ="A"+:WrongAlphabet:+"E"
Alphabet
</pre>
</div>

# Vector

 Vectors are similar to lists but have properties that allow you to access the values faster. Some of the properties can be summarised as followed:

 <ul>
  <li>A linked list of 32 elements arrays  </li>
  <li>T1.15 billion possible elements  </li>
  <li>Indexed by hashing  </li>
</ul>

In [17]:
val FistVector = Vector(1,2,3,4,5)
FistVector

FistVector = Vector(1, 2, 3, 4, 5)

Vector(1, 2, 3, 4, 5)

 you can access the first, second and third element as follows:

In [18]:
println("1st element: " + FistVector(0))
println("second element: " + FistVector(1))
println("third element: " + FistVector(2))

1st element: 1
second element: 2
third element: 3

vectors are immutable, uncomment the following code to see what happens when you try to change an element of a vector

FistVector(0)=1

you can append a element as follows

In [19]:
val SecondVector = FistVector :+ 6
SecondVector

SecondVector = Vector(1, 2, 3, 4, 5, 6)

Vector(1, 2, 3, 4, 5, 6)

 you can <b> prepend</b> an item

In [20]:
val ThirdVector = 0 +: FistVector
ThirdVector

ThirdVector = Vector(0, 1, 2, 3, 4, 5)

Vector(0, 1, 2, 3, 4, 5)

# Set

Sets are a" bag of data," were no duplicates are
permitted. The order is not guaranteed inside of the set. We can create a set as follows:

In [21]:
val FirstSet = Set(0,1,2,3,4)
FirstSet

FirstSet = Set(0, 1, 2, 3, 4)

Set(0, 1, 2, 3, 4)

This set as the elements 0,1,2,3,4 you can insert an element into a set using the "+" as follows and assign it to the second set "SecondSet":

In [22]:
val SecondSet = FirstSet + 5
SecondSet

SecondSet = Set(0, 5, 1, 2, 3, 4)

Set(0, 5, 1, 2, 3, 4)

As a result, the set now contains a 5, the elements 0,1,2,3,4,5. As there are no duplicates in a set we can add another 5 to the set  and assign it to the variable "ThirdSet" :

In [23]:
val ThirdSet = SecondSet + 5
ThirdSet

ThirdSet = Set(0, 5, 1, 2, 3, 4)

Set(0, 5, 1, 2, 3, 4)

The two sets have the exact same number of elements, we can verify this using the familiar equality syntax:

In [24]:
ThirdSet == SecondSet

true

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.6: </h1>
<p> 
Create a new  set " Set3" from "Set2"   the has all the same elements as "Set1"and verify they are equal </b>
</p>
</div>

In [ ]:
val Set1=Set("A","B","C")
val Set2=Set("A","B")

 <div align="right">
<a href="#qa46" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="qa46" class="collapse">
<pre>
val Set3=Set2+"C"
Set3==Set1
</pre>
</div>

 <a id="ref3"></a>
## 4.3 Options

### By the end of this section you should be able to:

<ul>
  <li>describe the relevance of option in the Scala type syst  </li>
  <li>outline how to use option inside of your types  </li>
  
  
</ul>

consider the option of a string

In [25]:
val Name = Option("Jamie")
Name

Name = Some(Jamie)

Some(Jamie)

I can get the value inside the wrapping

In [26]:
Name.get

Jamie

 Its better practice to use the "getOrElse()" method,  if the element is not present it will return the option, in this case, "Jamie". Consider if we look for Bob, as Bob is not in the string the value Jamie is returned.

In [27]:
Name.getOrElse("Bob")

Jamie

 <a id="ref4"></a>
## 4.4 Tuples and Maps

### By the end of this section you should be able to:

<ul>
  <li>to describe what is a tuple  and how they are used </li>
  <li>Outline how to deconstruct tuples   </li>
 <li>Describe the properties of map   </li>
</ul>

### Tuples

Tuples can be used to wrap different types of data ; they can have up to 22 values. Typically, tuples are created with parentheses. You can also create tuples explicitly by class that guarantess how many elements a tuple will have. Here are two examples of  how to generate a tuple of 2 elements:

In [28]:
Tuple2(1,"a")

(1,a)

In [29]:
(1,"a")

(1,a)

Tuples can be accessed using a 1-based accessor; we can access the first two elements as follows:

In [30]:
val fist_tuple=(1,"a")
println("First index:",fist_tuple._1)
println("Second index:",fist_tuple._2)

(First index:,1)
(Second index:,a)

fist_tuple = (1,a)

(1,a)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.7: </h1>
<p> 
Create a tuple with for elements: 1, "a",3,"b" just using parenthesis   </b>
</p>
</div>

 <div align="right">
<a href="#qa47" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="qa47" class="collapse">
<pre>
(1,"a",2,"b")
</pre>
</div>


tuples can be deconstructed into names bound to each value in a tuple

In [32]:
val tuple = (1,"a",2,"b")

tuple = (1,a,2,b)

(1,a,2,b)

 You can deconstruct a tuple, simply assign the tuple to another tuple with the variables you would like to bind each element too.  For example, you can bind the first, second, third and fourth element of the variable “tuple” to the variable `first`, `second`, `third` and `forth` as follows:

In [31]:
val (first, second, third, fourth) = tuple

Name: Unknown Error
Message: <console>:25: error: not found: value tuple
       val (first, second, third, fourth) = tuple
                                            ^

StackTrace:

the variable  take on the values in the tuple accordingly

In [ ]:
first

In [ ]:
second

In [ ]:
third

In [ ]:
fourth

 the process is illustrated in the following figure

 <img src = "https://ibm.box.com/shared/static/r78400z8d610ablu3fz5kcul4h5znw6g.png" width = 1000, align = "center"></a>

<h1 align=center><font size = 3>illustration of deconstructing a tuple</font></h1>

Tuples with two elements are frequently called a pair and they have a unique syntax for values. You can create the Tuple with two elements the standard way:

In [ ]:
(1,"a")

You can also use the “->” as follows to create a tuple:

In [33]:
 2 -> "b"

(2,b)

 You can use this rocket symbol “->” to nest tuples that consist of two elements:

In [34]:
3 -> "c" -> 4

((3,c),4)

 you can repeat the process

In [35]:
0 -> 0 -> 1 -> 2 -> 3 -> 4

(((((0,0),1),2),3),4)

## Maps

 Maps group data from key to a  value, you can use the key to access the value.

We can create a range of numbers and a range of characters as follows:

In [36]:
val Numbers=1 to 5
Numbers

Numbers = Range(1, 2, 3, 4, 5)

Range(1, 2, 3, 4, 5)

In [37]:
val Letters= 'a' to 'e'
Letters

Letters = NumericRange(a, b, c, d, e)

NumericRange(a, b, c, d, e)

 We can use the zip function to place both "Numbers" and "Letter" into a new vector, each element of the vector contains a tuple. The tuple has one element from "Numbers" and one from "Letters".

In [39]:
val LettertoNumber = Letters.zip(Numbers)
 LettertoNumber

LettertoNumber = Vector((a,1), (b,2), (c,3), (d,4), (e,5))

Vector((a,1), (b,2), (c,3), (d,4), (e,5))

 We can use the function "toMap" to create a key value relation between those tuples

In [40]:
val MapLettertoNumber = LettertoNumber.toMap

MapLettertoNumber = Map(e -> 5, a -> 1, b -> 2, c -> 3, d -> 4)

Map(e -> 5, a -> 1, b -> 2, c -> 3, d -> 4)

 we can use the key to look up the value as follows:

In [42]:
println("for key a", MapLettertoNumber('a'))
println("for key b", MapLettertoNumber('b'))
println("for key c", MapLettertoNumber('c'))
println("for key d", MapLettertoNumber('d'))
println("for key e", MapLettertoNumber('e'))

(for key a,1)
(for key b,2)
(for key c,3)
(for key d,4)
(for key e,5)

 The process is summarized in the following figure after the function zip is applied, we use the `toMap` function. We represent the value `MapLettertoNumber` as a table where the keys are represented in the first column, and the values are shown in the second column.

<img src = "https://ibm.box.com/shared/static/wguvjuogw22e9rirey9f5m6al0lzmkz4.png" width = 1000, align = "center"></a>

<h1 align=center><font size = 3>illustration of deconstructing a tuple</font></h1>

 If we try to use a key that does not exist we get an exception:

In [ ]:
MapLettertoNumber('z')

If your not sure if the key exists you can use the "get" method. It will return an `Option` of a value at the specified key. If the value is in the Map, you will get a `Some` of a value. If the value is not in the map, you will get a `None`.

In [ ]:
MapLettertoNumber.get('z')

 `getOrElse` that allows us to provide a default option, in this case the default is the key is not in the Map.

In [ ]:
MapLettertoNumber.getOrElse('z',"not here" )

If the key exists it returns the actual value

In [ ]:
MapLettertoNumber.getOrElse('b',"not here" )

<a id="ref5"></a>
## 4.5 Higher Order Functions

### Map

If I have a collection of values 1 to 10 in the value "myNums"

In [44]:
val myNums = 1 to 10
myNums

myNums = Range(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Range(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

You can map over the collection  by adding 1 to  each value and returning the result to a new collection "NewmyNums". The values has a 1 added to it

In [45]:
val NewmyNums = myNums.map(n=>n+1)
NewmyNums

NewmyNums = Vector(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

Vector(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

The process is demonstrated in the following figure.

<a ><img src = "https://ibm.box.com/shared/static/tvvopmvs9zzv8lxeh8s3vlet5j3jcm2x.png" width = 1000, align = "center"></a>

<h1 align=center><font size = 4>Example of a map in function </h1>

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.8: </h1>
<p> 
Use the map function to to multiply every number in the list by 2 </b>
</p>
</div>

In [ ]:
val SomeNumbers=List(1,10,100)
SomeNumbers

 <div align="right">
<a href="#qa48" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="qa48" class="collapse">
<pre>
SomeNumbers.map(x => x * 2)
</pre>
</div>

The function "contains" returns "true" if the string contains a sub-string, consider the string "Python" contains "Py" as follows

In [ ]:
"Python".contains("Py")

The function returns a `True` if the function does contain the sub-string, otherwise we get a `False`. For example :

In [47]:
"Python".contains("Sc")

false

 We can apply the function to each element in the list. Consider the following list:

In [46]:
val ProgrammingLanguages=List("Scala","Python","R","SQL")
ProgrammingLanguages

ProgrammingLanguages = List(Scala, Python, R, SQL)

List(Scala, Python, R, SQL)

We can see if each element contains an "S" and return a new list that contains  a True if the corresponding element contains "S" or else it will return a false

In [49]:
ProgrammingLanguages.map(s => s.contains("S"))

List(true, false, false, true)

### Flat Map

 The function "flatmap"  will apply the function and then
flatten it down one level. In this case, we have a list of strings; each string is a sequence of characters.

In [50]:
val ProgrammingLanguages=List("Scala","Python","R","SQL")
ProgrammingLanguages

ProgrammingLanguages = List(Scala, Python, R, SQL)

List(Scala, Python, R, SQL)

We can use the function "map" to  add a hash to each element in the list:

In [51]:
ProgrammingLanguages.map(lang=>lang+"#")

List(Scala#, Python#, R#, SQL#)

If we apply a "flatMap", it will perform the map, but it's  going to flatten one level so the sequence of characters is now broken apart and we end up with a list of characters:

In [52]:
ProgrammingLanguages.flatMap(lang=>lang+"#")

List(S, c, a, l, a, #, P, y, t, h, o, n, #, R, #, S, Q, L, #)

Alternatively, consider this example where we use `flatMap` to flatten a list of lists.

In [55]:
val lst = List(1,2,3)
lst.map(i => List(i))

lst = List(1, 2, 3)

List(1, 2, 3)

In [57]:
lst.flatMap(i => List(i))

List(1, 2, 3)

## Filter

The function filter allows you to return a  subset of the values by applying a predicate function.  The predicate function returns a true or false condition if the condition is false the elements will not be returned.

In [58]:
val ProgrammingLanguages = List("Scala","Python","R","SQL")
ProgrammingLanguages

ProgrammingLanguages = List(Scala, Python, R, SQL)

List(Scala, Python, R, SQL)

We apply the predicate function "contains" with an argument of "S". If a string in the list does not contain an "S" it will be filtered out. The result is the new list only contains the string "Scala"  and  "SQL".

In [60]:
val ProgrammingLanguagesWithS = ProgrammingLanguages.filter(s => s.contains("S"))
ProgrammingLanguagesWithS

ProgrammingLanguagesWithS = List(Scala, SQL)

List(Scala, SQL)

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.10: </h1>
<p> 
Use the filter function to filter out any string in the list "List("AB","BC","BC","DB")" with the letter "A" </b>
</p>
</div>

 <div align="right">
<a href="#qa410" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="qa410" class="collapse">
<pre>
List("AB","BC","BC","DB").filter(s => s.contains("A"))
</pre>
</div>

<a id="xx"></a>

## Foreach

Higher-order functions result in a new collection being created for the transformation that was performed; we do not want to do this in every case. We have another higher order function called "for each" which allows us to apply the function. The advantage is that this function does not return a list of values.

Let's say we use "map" to apply the "println" function:

In [ ]:
ProgrammingLanguages.map(println)

 The function prints each element in the list, but it returns a new list "List((), (), (), ())" this is a waste of memory. We can use the function "foreach" instead.

In [ ]:
ProgrammingLanguages.foreach(println)

As you can see using "foreach" does not return a  new list.

<a id="xx"></a>


## Forall

A similar named higher-order function is "forall". In this case, we're going to look at the values inside of our container and see if any meat that condition by using a predicate function

 Consider the following list, each string in the list contains an "A" :

In [62]:
val ABC=List("A","AB","ABC")

ABC = List(A, AB, ABC)

List(A, AB, ABC)

 If we apply the function "contains("A")" using the  "forall" we get a True  as each element contains a "A"

In [63]:
ABC.forall(s => s.contains("A"))

true

If we apply the function "contains("B")" using the "forall" we get a False as  only 2 of the three elments contain a "B"

In [64]:
ABC.forall(s => s.contains("B"))

false

## Reduce

 Another well-known higher-order function in the functional programming world is reduced.  This is a powerful concept we see used in the Map Reduce world for transforming data,let's say we would like to perform a summation on a the myNums of values from one to five.

In [65]:
val myNums= 1 to 5
myNums

myNums = Range(1, 2, 3, 4, 5)

Range(1, 2, 3, 4, 5)

The process works by adding the current element "cur" to an accumulator "acc".

In [ ]:
myNums.reduce((acc,cur) => acc+cur)

 <a ><img src = "https://ibm.box.com/shared/static/o36o0w5tdp26rvnag88pty3soniu8oqb.png" width = 1000, align = "center"></a>

<h1 align=center><font size = 4>Example of the reduce in function </h1>

 we can square the value before we add it.

In [ ]:
myNums.reduce((acc,cur) => acc+cur*cur)

 we can also square the accumulator value for each value

In [ ]:
myNums.reduce((acc,cur) => acc*acc+cur)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>  Question  4.11: </h1>
<p> 
Use the reduce function to implement the following function on the value "myNums" </b>
</p>
</div>

 $$\sum_{n=1}^{5} 2n$$

 <div align="right">
<a href="#qa411" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="qa411" class="collapse">
<pre>
myNums.reduce((acc,cur) => acc+2*cur)
</pre>
</div>

If you have an empty list and try to perform the same reduction, we get an unsupported operation exception because we have an empty list and we're trying to reduce it.

### Try running this command : List\[Int\]().reduce((acc,cur) => acc+cur)

To get around this we use the more general fold functions again we create the values 1 to 5.  We will use the function  "foldLeft()".  We are  going to give an initial value 0 i.e foldLeft(0).

In [68]:
val myNums= 1 to 5
myNums.foldLeft(0){case (acc,cur) => acc+cur}

myNums = Range(1, 2, 3, 4, 5)

15

If we apply the operation to an empty List  we get a zero.

In [69]:
List[Int]().foldLeft(0){case (acc,cur) => acc+cur}

0

### Product

 The product function  provides the product of a sequence of numbers, for example, we can calculate the product of all the integers from 1 to 5.

In [70]:
myNums.product

120

### Exists

 There's also the `exists` higher-order function. We can pass in a predicate. If the condition is met it will return a `true`. In the next cell, we use an anonymous function `num => num == 3` in combination with `exists` to check if any of the elements in `myNums` are equal to `3`.

In [72]:
myNums.exists(num => num==3)

true

If we would like to see if any of the numbers in the sequence is equal to 1000 we can apply the following:

In [73]:
myNums.exists(num => num == 1000)

false

 A similar higher-order function is called find if we had the values from 1 to 5 and applied the function  its going to return the option of a value of the option,in this case 3

In [74]:
myNums.find(x => x == 3)

Some(3)

if the value is not found it returns none

In [ ]:
myNums.find(x=>x==100)

## group By

 Another higher-order function is group by. We can have values from 1 to 5 ; we can group them into odd and evens. We simply apply the modules function and placed into a map,  where the key is the remainder, and the value is the number.

In [ ]:
val NewMap=myNums.groupBy(num=>num%2)
NewMap

In [ ]:
NewMap(0)

In [ ]:
NewMap(1)

### takeWhile and dropWhile

 Finally, we have the **takeWhile** and **dropWhile** higher order functions.  For example we have the values from 1 to 5  we can  return a
collection that only represents the values  that meet a condition using the **takeWhile** function, in this case, the numbers less than three

In [ ]:
myNums.takeWhile(num=>num<3)

 We can drop the values the meet the condition  that meet a predicate using the **dropWhile**

In [ ]:
myNums.dropWhile(num=>num<3)

 <hr>
Copyright &copy; 2017 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).​

## About the Authors:  


 [Joseph Santarcangelo]( https://www.linkedin.com/in/joseph-s-50398b136/) has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.